<div style="text-align: center;">
<span><p>Age:<%= @age %></p></span>
<span><p>Systolik:<%= @sys %></p></span>
<span><p>Nikotin:<%= @niko %></p></span>
<span><p>Sugar:<%= @sugar %></p></span>
<span><p>Family:<%= @fam %></p></span>
<span><p>Tryglicerid:<%= @try %></p></span>
<span><p>LDL:<%= @ldl %></p></span>
<span><p>HDL:<%= @hdl %></p></span>
<span><p>Punkt:<%= @punkt %></p></span>
</div>
