<div style="text-align: center;">
<h1>Testing Procam Version 0.1a</h1>
<span><p>Age:<%= @age %></p></span>
<span><p>Systolik:<%= @sys %> mmHg</p></span>
<span><p>Nikotin:<%= @niko %></p></span>
<span><p>Sugar:<%= @sugar %></p></span>
<span><p>Family:<%= @fam %></p></span>
<span><p>Tryglicerid:<%= @try %> mg/dL</p></span>
<span><p>LDL:<%= @ldl %> mg/dL</p></span>
<span><p>HDL:<%= @hdl %> mg/dL</p></span>
<span><h2>Punkt:<%= @punkt %></h2></span>
<span><p><%= @line %></p></span>
<span><p><%= @line2 %></p></span>
</div>
